/*
==========================================================================
   Base styles: opinionated defaults
==========================================================================
*/
html {
    scroll-behavior: smooth;
}

* {
    color: white;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #0B2B40;
}

.accent {
    color: #89D99D;
}

.orange {
    color: orange;
}

.blue {
    color: dodgerblue;
}

.yellow {
    color: yellow;
}

.raleway-accent {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.img-64 {
    max-width: 64px;
}

.img-512 {
    max-width: 512px;
}

.img-accent-border {
    border-style: solid;
    border-radius: 100%;
    border-color: #89D99D;
    color: #89D99D;
    box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
    position: relative;
}

.img-accent-border:active {
    box-shadow: 0 0 0 0;
    top: 5px;
    left: 5px;
}

li {
    list-style-type: none;
}

.resume-button {
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #89D99D;
    background-color: #0C3048;
    cursor: pointer;
    border: 1px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.resume-button:active {
    box-shadow: 0 0 0 0;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .resume-button {
        padding: 0.25em 0.75em;
    }
}

.sticky {
    position: sticky;
    top: 0;
}

.sticky-2 {
    position: sticky;
    bottom: 0;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex.gap-1 {
    row-gap: 1.5em;
}

.flex.gap-100 {
    row-gap: 100px;
}

.flex-row.gap-100 {
    column-gap: 100px;
}

.flex-row.gap-1 {
    column-gap: 80px;
}

.flex.stretched {
    justify-content: space-between;
}

.flex.stretched-2 {
    justify-content: space-evenly;
}

.flex.center-horizontally {
    align-items: center;
}

.flex.end {
    justify-content: flex-end;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row.wrap {
    flex-wrap: wrap;
}

.flex-row.center-vertically {
    align-items: center;
}

.flex-row.center-horizontally {
    justify-content: center;
}

.flex-row.end {
    align-items: flex-end;
}

.flex-row.stretched {
    justify-content: space-between;
}

.flex-row.around {
    justify-content: space-around;
}

.align-right {
    align-self: end;
}

.p-r-1 {
    padding-right: 40px;
}

.p-b-1 {
    padding-bottom: 40px;
}

.p-rl-1 {
    padding-right: 40px;
    padding-left: 40px;
}

.p-rl-3 {
    padding-right: 20px;
    padding-left: 20px;
}

.p-tb-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-tb-2 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.m-1 {
    margin: 10px;
}

.m-3 {
    margin: 30px;
}

.m-4 {
    margin: 40px;
}

nav li {
    margin: 0 20px 0 20px;
}

.linked-icon:active {
    box-shadow: 0 0 0 0;
    top: 5px;
    left: 5px;
}

.linked-icon {
    color: #89D99D;
    border-style: solid;
    border-color: #89D99D;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
}

nav li {
    color: #89D99D;
    list-style-type: upper-roman;
}

nav li a {
    text-decoration: none;
    font-weight: 400;
}

nav li a:hover {
    color: #89D99D;
    font-weight: 500;
}

.vertical-separator {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    height: 10vh;
}

.horizontal-separator {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

div.horizontal {
    flex-grow: 1;
    margin-left: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h4 {
    color: rgba(255, 255, 255, 0.8);
}

p {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5rem;
    text-align: justify;
}

strong {
    font-weight: 500;
}

#welcome h3 {
    padding-left: 3px;
}

#welcome h1 {
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 72px;
    font-weight: 700;
}

#welcome h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 48px;
    font-weight: 700;
}

section:not(:last-of-type) {
    min-height: 100vh;
    max-width: 1125px;
    width: 60vw;
}

section:last-of-type {
    height: 80vh;
}

section:not(:first-child) {
    padding-top: 100px;
}

section h3 {
    font-size: 28px;
}

section header {
    padding-bottom: 40px;
}

article {

}

article h2 {
    color: rgba(255, 255, 255, 0.6);
}

article p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;

}

.vh-70 {
    height: 70vh;
}

#welcome {
    margin-top: 15%;
}

#welcome p {
    color: rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
    font-weight: 600;
}

#welcome a {
    color: #89D99D;
}

#about ul {
    padding-inline-start: 0;
}

article#resume h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.radio-box {
    background-color: #0C3048;
    border-left: 2px solid white;
    max-height: 60px;
}

.radio-box input[type="radio"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

.radio-box label {
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    min-width: 20vw;
    height: 60px;
    background-color: #0C3048;
    padding-left: 15px;
}

.radio-box:has(input[type="radio"]:checked).radio-box, .radio-box:has(input[type="radio"]:checked) label {
    background-color: #082334;
    border-left: 1px solid #89D99D;
}

.radio-box label:hover, .radio-box:hover {
    background-color: #082334;
}

#projects article {
    text-align: right;
}

#projects h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.overflow-box {
    position: relative;
    z-index: 2;
}

.accent-box p, .accent-box {
    background-color: #082334;
    border-radius: 5px;
}

.large-font {
    font-size: large;
}

.grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.accent-color-override {
    background: rgba(137, 217, 157, 0.5);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.accent-color-override:hover {
    background: url("img/projects/portfolio.png") no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.project-image {
    background: url("/img/projects/portfolio.png") no-repeat;
    background-size: cover;
    overflow: hidden;
    color: #FFFFFF;
    border-radius: 5px;
    height: 300px;
}

.grid-image {
    grid-area: 1 / 1 / 2 / 7;
}

.grid-content {
    grid-area: 1 / 12 / 2 / 5;
}

.grid-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form form {
    width: 50%;
}

.contact-form input, textarea {
    background-color: #082334;
    margin: 10px 0 10px 0;
    min-height: 44px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 4px;
    padding-inline: 0 0;
}

.contact-form input[type='text'], .contact-form input[type='email'], .contact-form textarea {
    padding-left: 10px;
}

.contact-form textarea {
    padding-top: 10px;
}

.contact-form input:focus, textarea:focus {
    border: 1px solid #89D99D;
    transition: 0.5s;
    outline: none;
}

.contact-form textarea {
    height: 20vh;
}

.contact-form label {
    margin: 10px 0 0 0;
}

.contact-form input[type='submit'] {
    background-color: #89D99D;
    color: #0C3048;
    font-size: 16px;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.contact-form input[type='submit']:hover {
    transform: scale(0.95);
    background-color: #082334;
    color: #89D99D;
    cursor: pointer;
}

#tasks {
    list-style-type: armenian;
}

#tasks li {
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;

    margin: 10px 0 0 0;

    color: rgba(255, 255, 255, 0.8);
}

#tasks {
    padding-inline-start: 0;
}

#tasks li::marker {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    color: #89D99D;
    content: "\f054";
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

